*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    flex-wrap: wrap;
    gap: 15px;
}

.logo{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 4%;
    color: rgba(91, 91, 91, 1);
}

.box{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-links{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-links a{
    font-weight: 400;
    font-size: 22px;
    color: rgba(91, 91, 91, 1);
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.welcome_page{
    background-color: rgba(157, 204, 255, 1);
    width: 100%;
    padding-bottom: 40px;
}

.welcome_container{
    width: 100%;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.welcome_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.welcome_header h2{
    font-weight: 600;
    font-size: 36px;
    color: rgba(37, 38, 65, 1);
}

.welcome_header a{
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: rgba(73, 187, 189, 1);
}


.cards-box{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    background-color: #fff;
    width: 100%;
    max-width: 4000px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0px 18.83px 47.08px rgba(47, 50, 125, 0.1);
}

.img{
    border-radius: 20px;
}

.aws_image{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.img h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: rgba(37, 38, 65, 1);
    margin: 15px 0 10px;
}

.card_logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.lina_img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.lina_text{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}


.progressbar{
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 1);
}

.progress{
    width: 80%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(73, 187, 189, 1);
}

.lesson{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    margin-top: 10px;
}

