*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 40px ;
 
}
.box{
    justify-content: space-between;
    align-items: center;
    gap:25px;
    display: flex;
}

.logo{
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color:rgba(91, 91, 91, 1);
;
}

.nav-links{
    display: flex;
    gap: 25px;
    
}
.nav-links a{
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2%;
    color: rgba(91, 91, 91, 1);
    text-decoration: none;

}
.profile{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    color: rgba(0, 0, 0, 1);

}