*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    flex-wrap: wrap;
    gap: 15px;
}

.logo{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 4%;
    color: rgba(91, 91, 91, 1);
}

.box{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-links{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-links a{
    font-weight: 400;
    font-size: 22px;
    color: rgba(91, 91, 91, 1);
    text-decoration: none;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.welcome_page{
    background-color:#9DCCFF;
    width: 100%;
    padding-bottom: 40px;
}

.welcome_container{
    width: 100%;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.welcome_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-left: 50px;
}

.welcome_header h2{
    font-weight: 600;
    font-size: 36px;
    color: rgba(37, 38, 65, 1);
}

.welcome_header a{
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: rgba(73, 187, 189, 1);
}


.cards-box{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);

}

.img{
    border-radius: 20px;
}

.aws_image{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.img h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: rgba(37, 38, 65, 1);
    margin: 15px 0 10px;
}

.card_logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.lina_img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.lina_text{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}


.progressbar{
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 1);
}

.progress{
    width: 80%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(73, 187, 189, 1);
}

.lesson{
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    margin-top: 10px;
}

.categories_container{
    padding: 30px 50px;
    margin-left: 50px;
}

.categories_heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#252641;
    margin-bottom: 30px;
}

.categories_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}


.categories_card{
    width: 100%;
    max-width: 290px;
    height: 350px;
    opacity: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: #FFFFFF;
    box-shadow:0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);

    margin-bottom: 20px;
}
.categories_image_conatiner{
    display: flex;
    flex-direction: column;
    padding: 2px 2px;
    align-items: center;
    gap: 25px;
}
.categories_image{
    width: 90px;
    height: 90px;
    border-radius: 4px;
    opacity: 1;
}
.categories_image h3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #000000;

}
.categories_card p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
    color: #696984;
}

.courses_container{
    background-color:rgba(157, 204, 255, 1);
    width: 100%;
    padding-bottom: 40px;
}
.recommended_container{
    width: 100%;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.courses_header{
    display: flex;
    justify-content: space-between;
}
.courses_heading{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    color: rgba(0, 0, 0, 1);
}
.see{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(73, 187, 189, 1)
}
.courses_card{
    width: 100%;
    max-width: 320px;
    opacity: 1;
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 17px 20px;
    border-radius: 20px;
    gap: 7px;
    box-shadow:0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);
}
.image_box img{
    width: 100%;
    max-width: 280px;
    height: 239px;
    opacity: 1;
    border-radius: 20px;
    margin-bottom:10px;
    margin-top: 3.5px;
    object-fit: cover;
}
.image_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_content span{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 2%;
    color:rgba(105, 105, 132, 1);
    padding: 0px 7px;
}
.card_main{
   font-family: 'Poppins';
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 4px;
}
.card_para p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 2%;
    padding: 4px;
    color:rgba(105, 105, 132, 1);
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_image img{
    width: 44px;
    height: 44px;
    top: 2779px;
    left: 166px;
    opacity: 1;
    border-radius: 22px;
}
.footer_image{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer_image span{
    color: rgba(0, 0, 0, 1);
}
.courses_price{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    color:rgba(73, 187, 189, 1);
}
.cutted_price{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}
.courses_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.course_choice_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.course_choice_container{
    width: 100%;
    padding: 30px 50px;
}
.course_choice_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    margin-bottom: 35px;
    padding: 3px;
}
.course_choice_header h3{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    color:rgba(0, 0, 0, 1);
}
.course_choice_header span{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color:rgba(73, 187, 189, 1);
}
.button_container{
    opacity: 1;
    border-radius: 37px;
    background-color: rgba(37, 38, 65, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 50px 160px;
    margin:40px 90px;
}
.button_container h3{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
}
.button_container p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 21px;
    line-height: 180%;
    letter-spacing: 2%;
    text-align: center;

}
.button{
    background-color: rgba(73, 187, 189, 1);
    padding: 10px;
    width: 236px;
    height: 63px;
    opacity: 1;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
        /* for button content */
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.footer_container{
    background-color: rgba(37, 38, 65, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-top: 80px;
    justify-content: space-around;
    gap: 50px;
}
.footer_logo{
    display: flex;
    align-items: center;
}
.footer_logo div{
    width: 180px;
    height: 35px;
    padding:0px 20px;
    line-height: 1.2;
}
.footer_logo_name{
    border-right: 1px solid rgba(98, 99, 129, 1);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 4%;
    color: rgba(255, 255, 255, 1);
}
.footer_logo div span{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4%;
    color: rgba(255, 255, 255, 1);
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_middle_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.middle p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: rgba(178, 179, 207, 1);
}
.mail{
    width: 400px;
    height: 60px;
    opacity: 1;
    border-radius: 80px;
    border: 1px solid rgba(131, 131, 154, 1);
    display: flex;
    align-items: center;
    padding-left: 30px;
    color:rgba(131, 131, 154, 1);
}
.footer_middle_content button{
    width: 179px;
    height: 60px;
    opacity: 1;
    border-radius: 60px;
    background-color: rgba(73, 187, 189, 1);
    border: none;

    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%; 
    color: rgba(255, 255, 255, 1);
}
.links{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.links a,span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: rgba(178, 179, 207, 1);
    text-decoration: none;
}
.copy_right p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color:rgba(178, 179, 207, 1) ;
    margin-top: 20px;
}
